{
    "tabWidth": 4,
    "jsxBracketSameLine": true,
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.pug",
            "options": {
                "tabWidth": 4,
                "printWidth": 280,
                "semi": true
            }
        }
    ]
}
