.about {
    background-color: $color-cadet-blue;
    color: $color-bright-gray;
}

.about__wrapper {
}

.about__title {
    @extend %title-100;
    margin: 0 auto;
    text-align: center;
    max-width: 144rem;
    line-height: 1.1;
}
