.about__gallery {
    height: 58.6rem;
    margin: 20rem 0;
    position: relative;
    overflow: hidden;

    &:first-child,
    &:last-child {
        margin-top: 0;
    }
}

.about__gallery__wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.about__gallery__media {
    height: 43.7rem;
    width: 30.9rem;
    margin: 0 4rem;
    position: relative;
}

.about__gallery__media__image {
    @extend %cover;
    object-fit: cover;
}
