.about__highlight {
    margin: 20rem 0;
    position: relative;

    &:first-child,
    &:last-child {
        margin-top: 0;
    }
}

.about__highlight__wrapper {
    height: 104rem;
    margin: auto;
    position: relative;
    width: 144rem;

    .about__highlight:nth-child(4) & {
        width: 104rem;
    }
}

.about__highlight__label {
    @extend %description-12;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 9rem;
    transform: translateX(-50%);
    width: 9.6rem;
    text-align: center;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
}

.about__highlight__title {
    @extend %title-200;
    transform: translate(-50%, -50%) rotate(-90deg);
    top: 50%;
    left: 50%;
    position: absolute;
}

.about__highlight__media {
    position: absolute;
    height: 76rem;
    width: 54rem;

    .about__highlight:nth-child(4) & {
        height: 52.8rem;
        width: 36rem;
    }

    &:first-child {
        top: 0;
        left: 0;
    }

    &:last-child {
        bottom: 0;
        right: 0;
    }
}

.about__highlight__media__image {
    @extend %cover;
    object-fit: cover;
}
