%description-12 {
    font-size: 1.2rem;
}

%description-14 {
    font-size: 1.4rem;
}

%description-16 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
}

%description-18 {
    font-size: 1.8rem;
    font-weight: 300;
}
