%vertical-titles {
    align-items: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

%vertical-titles__label {
    @extend %description-12;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin: 0 3rem;
    text-transform: uppercase;
    transform: rotate(90deg);
    text-align: center;
}

%vertical-titles__title {
    @extend %title-200;
    padding-top: 2rem;
}
