.navigation {
    @extend %cover;
    z-index: z("navigation");
    color: $color-quarter-spanish-white;
}

.navigation__link {
    height: 2rem;
    position: absolute;
    left: 4rem;
    top: 4rem;
    width: 12.8rem;
    font-size: 0; // Remove text
}

.navigatino__link__icon {
    display: block;
}

.navigation__list {
}

.navigation__list__item {
    position: absolute;
    right: 4rem;
    top: 4rem;
}

.navigation__list__link {
    @extend %title-20;
}
