.preloader {
    @extend %center;
    @extend %cover;

    background-color: $color-contessa;
    color: $color-quarter-spanish-white;
    text-align: center;
    z-index: z("preloader");
    position: fixed;
}

.preloader__title {
    font-size: 0;
    max-width: 75rem;

    span {
        display: inline-block;
        overflow: hidden;
    }

    span span {
        @extend %title-53;
    }
}

.preloader__number {
    @extend %description-14;
    left: 50%;
    position: absolute;
    bottom: 7.3rem;
    transform: translateX(-50%);
    overflow: hidden;

    @include media("<phone") {
        font-size: 2.4rem;
    }
}

.preloader__number__text {
    display: inline-block;
}
