*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    @extend %cover;

    // Size of your xd,sketch or figma artboard
    // Needs to be 10px based on the screen width
    font-size: calc(100vw / 1920 * 10);
    line-height: 1;
    position: fixed;
    overflow: hidden;

    @include media("<phone") {
        font-size: calc(100vw / 750 * 10);
    }
}

body {
    @extend %cover;
    @extend %description-16;
    font-family: $font-suisse-bp;
    position: fixed;

    // background-color: $color-contessa;
    // color: $color-quarter-spanish-white;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    outline: none;
}

img {
    opacity: 0;
    vertical-align: middle;
    transition: 0.4s ease;

    &.loaded {
        opacity: 1;
    }
}

.content {
    @extend %cover;
}

[data-animation="label"],
[data-animation="title"],
[data-animation="paragraph"] {
    span {
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
}
