*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    @extend %cover;

    // Size of your xd,sketch or figma artboard
    // Needs to be 10px based on the screen width
    font-size: calc(100vw / 1920 * 10);
    line-height: 1;
    position: fixed;
    overflow: hidden;

    @include media("<phone") {
        font-size: calc(100vw / 750 * 10);
    }
}

body {
    @extend %cover;
    @extend %description-16;
    font-family: $font-suisse-bp;
    position: fixed;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    outline: none;
}

img {
    vertical-align: middle;
}

.content {
    @extend %cover;
}
