extends ../base

block variables
    - var template = 'details';

block content
    .detail
        .detail__wrapper
            figure.detail__media
                img.detail__media__image(alt=product.data.image.alt, src=product.data.image.url)

            .detail__information
                p.detail__information__collection= product.data.collection.data.title
