.home {
    @extend %center;
    @extend %page;
    // background-color: $color-contessa;
    // color: $color-quarter-spanish-white;
    overflow: hidden;
    &:after,
    &:before {
        content: "";
        height: 24rem;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    &:before {
        top: 0;
        background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa, 0) 100%);
    }

    &:after {
        bottom: 0;
        background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
    }
}

.home__wrapper {
}

.home__titles {
    @extend %vertical-titles;
}

.home__titles__label {
    @extend %vertical-titles__label;
}

.home__titles__title {
    @extend %vertical-titles__title;
}

.home__gallery {
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    padding: 0 2.5rem;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    visibility: hidden;
}

.home__gallery__media {
    // position: absolute;
    width: 20%;
    padding: 2.5rem;

    &.home__gallery__media--2 {
        transform: translateY(10rem);
    }

    &.home__gallery__media--3 {
        transform: translateY(30rem);
    }

    &.home__gallery__media--4 {
        transform: translateY(20rem);
    }

    &.home__gallery__media--5 {
        transform: translateY(40rem);
    }
}

.home__gallery__media__image {
    // @extend %cover;
    opacity: 1;
    width: 100%;
}

.home__link {
    @extend %description-14;
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.8rem;
    height: 6rem;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-transform: uppercase;
    z-index: 2;

    @include media("<phone") {
        bottom: 7.5rem;
        height: 13.7rem;
        width: 55rem;
    }
}

.home__link__icon {
    @extend %cover;
}
